<%= form_for(@truck) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% @truck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :food_truck_name %><br>
    <%= f.text_field :food_truck_name %>
  </div>
  <div class="field">
    <%= f.label :food_truck_url %><br>
    <%= f.text_area :food_truck_url %>
  </div>
  <div class="field">
    <%= f.label :type_of_food %><br>
    <%= f.text_field :type_of_food %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
